/* #region core theme */
@theme {
  --color-neutral-0: #000000;
  --color-neutral-1: #030405;
  --color-neutral-2: #07070a;
  --color-neutral-3: #0a0b0e;
  --color-neutral-4: #0d0e11;
  --color-neutral-5: #101114;
  --color-neutral-6: #131316;
  --color-neutral-7: #151519;
  --color-neutral-8: #17171b;
  --color-neutral-9: #19191d;
  --color-neutral-10: #1b1b1f;
  --color-neutral-11: #1d1d21;
  --color-neutral-12: #1f1f23;
  --color-neutral-13: #212125;
  --color-neutral-14: #232327;
  --color-neutral-15: #252529;
  --color-neutral-16: #27282b;
  --color-neutral-17: #292a2d;
  --color-neutral-18: #2c2c2f;
  --color-neutral-19: #2e2e31;
  --color-neutral-20: #303034;
  --color-neutral-21: #323236;
  --color-neutral-22: #343438;
  --color-neutral-23: #36373a;
  --color-neutral-24: #39393c;
  --color-neutral-25: #3b3b3f;
  --color-neutral-26: #3d3d41;
  --color-neutral-27: #404043;
  --color-neutral-28: #424245;
  --color-neutral-29: #444448;
  --color-neutral-30: #46464a;
  --color-neutral-31: #49494c;
  --color-neutral-32: #4b4b4f;
  --color-neutral-33: #4d4d51;
  --color-neutral-34: #505053;
  --color-neutral-35: #525256;
  --color-neutral-36: #555458;
  --color-neutral-37: #57575a;
  --color-neutral-38: #59595d;
  --color-neutral-39: #5c5b5f;
  --color-neutral-40: #5e5e62;
  --color-neutral-41: #616064;
  --color-neutral-42: #636367;
  --color-neutral-43: #666569;
  --color-neutral-44: #68686b;
  --color-neutral-45: #6b6a6e;
  --color-neutral-46: #6d6d70;
  --color-neutral-47: #706f73;
  --color-neutral-48: #727175;
  --color-neutral-49: #757478;
  --color-neutral-50: #77767a;
  --color-neutral-51: #7a797d;
  --color-neutral-52: #7c7c80;
  --color-neutral-53: #7f7e82;
  --color-neutral-54: #818185;
  --color-neutral-55: #848387;
  --color-neutral-56: #87868a;
  --color-neutral-57: #89888c;
  --color-neutral-58: #8c8b8f;
  --color-neutral-59: #8e8d92;
  --color-neutral-60: #919094;
  --color-neutral-61: #949397;
  --color-neutral-62: #969599;
  --color-neutral-63: #99989c;
  --color-neutral-64: #9c9a9f;
  --color-neutral-65: #9e9da1;
  --color-neutral-66: #a1a0a4;
  --color-neutral-67: #a4a2a7;
  --color-neutral-68: #a6a5a9;
  --color-neutral-69: #a9a8ac;
  --color-neutral-70: #acaaaf;
  --color-neutral-71: #afadb1;
  --color-neutral-72: #b1b0b4;
  --color-neutral-73: #b4b3b7;
  --color-neutral-74: #b7b5ba;
  --color-neutral-75: #bab8bc;
  --color-neutral-76: #bcbbbf;
  --color-neutral-77: #bfbdc2;
  --color-neutral-78: #c2c0c4;
  --color-neutral-79: #c5c3c7;
  --color-neutral-80: #c7c6ca;
  --color-neutral-81: #cac8cd;
  --color-neutral-82: #cdcbd0;
  --color-neutral-83: #d0ced2;
  --color-neutral-84: #d3d1d5;
  --color-neutral-85: #d6d3d8;
  --color-neutral-86: #d8d6db;
  --color-neutral-87: #dbd9dd;
  --color-neutral-88: #dedce0;
  --color-neutral-89: #e1dfe3;
  --color-neutral-90: #e4e2e6;
  --color-neutral-91: #e7e4e9;
  --color-neutral-92: #e9e7ec;
  --color-neutral-93: #eceaef;
  --color-neutral-94: #efedf1;
  --color-neutral-95: #f2f0f4;
  --color-neutral-96: #f5f3f7;
  --color-neutral-97: #f8f5fa;
  --color-neutral-98: #fbf8fd;
  --color-neutral-99: #fefbff;
  --color-neutral-100: #ffffff;
  --color-neutral-variant-0: #000000;
  --color-neutral-variant-1: #030408;
  --color-neutral-variant-2: #06070e;
  --color-neutral-variant-3: #090b12;
  --color-neutral-variant-4: #0c0e15;
  --color-neutral-variant-5: #0f1118;
  --color-neutral-variant-6: #11131a;
  --color-neutral-variant-7: #13151c;
  --color-neutral-variant-8: #15171f;
  --color-neutral-variant-9: #171921;
  --color-neutral-variant-10: #191b23;
  --color-neutral-variant-11: #1b1d25;
  --color-neutral-variant-12: #1d1f27;
  --color-neutral-variant-13: #202129;
  --color-neutral-variant-14: #22232b;
  --color-neutral-variant-15: #24252d;
  --color-neutral-variant-16: #26282f;
  --color-neutral-variant-17: #282a31;
  --color-neutral-variant-18: #2a2c34;
  --color-neutral-variant-19: #2c2e36;
  --color-neutral-variant-20: #2e3038;
  --color-neutral-variant-21: #31323a;
  --color-neutral-variant-22: #33343c;
  --color-neutral-variant-23: #35373f;
  --color-neutral-variant-24: #373941;
  --color-neutral-variant-25: #393b43;
  --color-neutral-variant-26: #3c3d45;
  --color-neutral-variant-27: #3e3f48;
  --color-neutral-variant-28: #40424a;
  --color-neutral-variant-29: #43444c;
  --color-neutral-variant-30: #45464f;
  --color-neutral-variant-31: #474951;
  --color-neutral-variant-32: #494b53;
  --color-neutral-variant-33: #4c4d56;
  --color-neutral-variant-34: #4e5058;
  --color-neutral-variant-35: #51525b;
  --color-neutral-variant-36: #53545d;
  --color-neutral-variant-37: #55575f;
  --color-neutral-variant-38: #585962;
  --color-neutral-variant-39: #5a5b64;
  --color-neutral-variant-40: #5d5e67;
  --color-neutral-variant-41: #5f6069;
  --color-neutral-variant-42: #61636c;
  --color-neutral-variant-43: #64656e;
  --color-neutral-variant-44: #666871;
  --color-neutral-variant-45: #696a73;
  --color-neutral-variant-46: #6b6c76;
  --color-neutral-variant-47: #6e6f78;
  --color-neutral-variant-48: #70717b;
  --color-neutral-variant-49: #73747d;
  --color-neutral-variant-50: #757680;
  --color-neutral-variant-51: #787982;
  --color-neutral-variant-52: #7b7b85;
  --color-neutral-variant-53: #7d7e87;
  --color-neutral-variant-54: #80818a;
  --color-neutral-variant-55: #82838c;
  --color-neutral-variant-56: #85868f;
  --color-neutral-variant-57: #878892;
  --color-neutral-variant-58: #8a8b94;
  --color-neutral-variant-59: #8d8d97;
  --color-neutral-variant-60: #8f909a;
  --color-neutral-variant-61: #92939c;
  --color-neutral-variant-62: #95959f;
  --color-neutral-variant-63: #9798a1;
  --color-neutral-variant-64: #9a9aa4;
  --color-neutral-variant-65: #9d9da7;
  --color-neutral-variant-66: #9fa0aa;
  --color-neutral-variant-67: #a2a2ac;
  --color-neutral-variant-68: #a5a5af;
  --color-neutral-variant-69: #a7a8b2;
  --color-neutral-variant-70: #aaaab4;
  --color-neutral-variant-71: #adadb7;
  --color-neutral-variant-72: #afb0ba;
  --color-neutral-variant-73: #b2b2bc;
  --color-neutral-variant-74: #b5b5bf;
  --color-neutral-variant-75: #b8b8c2;
  --color-neutral-variant-76: #babbc5;
  --color-neutral-variant-77: #bdbdc7;
  --color-neutral-variant-78: #c0c0ca;
  --color-neutral-variant-79: #c3c3cd;
  --color-neutral-variant-80: #c5c6d0;
  --color-neutral-variant-81: #c8c8d3;
  --color-neutral-variant-82: #cbcbd5;
  --color-neutral-variant-83: #ceced8;
  --color-neutral-variant-84: #d1d1db;
  --color-neutral-variant-85: #d4d3de;
  --color-neutral-variant-86: #d6d6e1;
  --color-neutral-variant-87: #d9d9e3;
  --color-neutral-variant-88: #dcdce6;
  --color-neutral-variant-89: #dfdfe9;
  --color-neutral-variant-90: #e2e2ec;
  --color-neutral-variant-91: #e5e4ef;
  --color-neutral-variant-92: #e7e7f2;
  --color-neutral-variant-93: #eaeaf5;
  --color-neutral-variant-94: #ededf7;
  --color-neutral-variant-95: #f0f0fa;
  --color-neutral-variant-96: #f3f3fd;
  --color-neutral-variant-97: #f6f5ff;
  --color-neutral-variant-98: #faf8ff;
  --color-neutral-variant-99: #fefbff;
  --color-neutral-variant-100: #ffffff;
  --color-primary-0: #000000;
  --color-primary-1: #000314;
  --color-primary-2: #00061f;
  --color-primary-3: #000828;
  --color-primary-4: #000b2f;
  --color-primary-5: #000e35;
  --color-primary-6: #00103a;
  --color-primary-7: #00123f;
  --color-primary-8: #001343;
  --color-primary-9: #001547;
  --color-primary-10: #00174b;
  --color-primary-11: #001950;
  --color-primary-12: #001b54;
  --color-primary-13: #001c59;
  --color-primary-14: #001e5d;
  --color-primary-15: #002062;
  --color-primary-16: #002266;
  --color-primary-17: #00246b;
  --color-primary-18: #00266f;
  --color-primary-19: #002874;
  --color-primary-20: #002a78;
  --color-primary-21: #042c7b;
  --color-primary-22: #092e7d;
  --color-primary-23: #0d317f;
  --color-primary-24: #113381;
  --color-primary-25: #143684;
  --color-primary-26: #183886;
  --color-primary-27: #1b3a88;
  --color-primary-28: #1e3d8b;
  --color-primary-29: #213f8d;
  --color-primary-30: #244290;
  --color-primary-31: #274492;
  --color-primary-32: #294795;
  --color-primary-33: #2c4997;
  --color-primary-34: #2f4b9a;
  --color-primary-35: #314e9c;
  --color-primary-36: #34509f;
  --color-primary-37: #3753a1;
  --color-primary-38: #3955a4;
  --color-primary-39: #3c58a6;
  --color-primary-40: #3f5aa9;
  --color-primary-41: #415dac;
  --color-primary-42: #445fae;
  --color-primary-43: #4662b1;
  --color-primary-44: #4964b4;
  --color-primary-45: #4b67b6;
  --color-primary-46: #4e69b9;
  --color-primary-47: #516cbc;
  --color-primary-48: #536ebe;
  --color-primary-49: #5671c1;
  --color-primary-50: #5873c4;
  --color-primary-51: #5b76c7;
  --color-primary-52: #5e78c9;
  --color-primary-53: #607bcc;
  --color-primary-54: #637ecf;
  --color-primary-55: #6580d2;
  --color-primary-56: #6883d5;
  --color-primary-57: #6b85d7;
  --color-primary-58: #6d88da;
  --color-primary-59: #708bdd;
  --color-primary-60: #738de0;
  --color-primary-61: #7590e3;
  --color-primary-62: #7893e5;
  --color-primary-63: #7b95e8;
  --color-primary-64: #7d98eb;
  --color-primary-65: #809bee;
  --color-primary-66: #839df1;
  --color-primary-67: #85a0f4;
  --color-primary-68: #88a3f7;
  --color-primary-69: #8ba5fa;
  --color-primary-70: #8da8fd;
  --color-primary-71: #90abff;
  --color-primary-72: #94aeff;
  --color-primary-73: #98b0ff;
  --color-primary-74: #9cb3ff;
  --color-primary-75: #a0b6ff;
  --color-primary-76: #a4b9ff;
  --color-primary-77: #a8bcff;
  --color-primary-78: #acbfff;
  --color-primary-79: #b0c2ff;
  --color-primary-80: #b4c5ff;
  --color-primary-81: #b8c7ff;
  --color-primary-82: #bccaff;
  --color-primary-83: #c0cdff;
  --color-primary-84: #c4d0ff;
  --color-primary-85: #c8d3ff;
  --color-primary-86: #ccd6ff;
  --color-primary-87: #cfd9ff;
  --color-primary-88: #d3dcff;
  --color-primary-89: #d7deff;
  --color-primary-90: #dbe1ff;
  --color-primary-91: #dfe4ff;
  --color-primary-92: #e3e7ff;
  --color-primary-93: #e7eaff;
  --color-primary-94: #ebedff;
  --color-primary-95: #eff0ff;
  --color-primary-96: #f2f3ff;
  --color-primary-97: #f6f5ff;
  --color-primary-98: #faf8ff;
  --color-primary-99: #fefbff;
  --color-primary-100: #ffffff;
  --color-secondary-0: #000000;
  --color-secondary-1: #010311;
  --color-secondary-2: #030717;
  --color-secondary-3: #050a1b;
  --color-secondary-4: #080d1e;
  --color-secondary-5: #0b1021;
  --color-secondary-6: #0d1323;
  --color-secondary-7: #101526;
  --color-secondary-8: #121728;
  --color-secondary-9: #14192a;
  --color-secondary-10: #161b2c;
  --color-secondary-11: #181d2e;
  --color-secondary-12: #1a1f30;
  --color-secondary-13: #1c2132;
  --color-secondary-14: #1e2334;
  --color-secondary-15: #202537;
  --color-secondary-16: #222739;
  --color-secondary-17: #24293b;
  --color-secondary-18: #262b3d;
  --color-secondary-19: #282e3f;
  --color-secondary-20: #2b3042;
  --color-secondary-21: #2d3244;
  --color-secondary-22: #2f3446;
  --color-secondary-23: #313649;
  --color-secondary-24: #33394b;
  --color-secondary-25: #363b4d;
  --color-secondary-26: #383d50;
  --color-secondary-27: #3a3f52;
  --color-secondary-28: #3c4254;
  --color-secondary-29: #3f4457;
  --color-secondary-30: #414659;
  --color-secondary-31: #43485b;
  --color-secondary-32: #464b5e;
  --color-secondary-33: #484d60;
  --color-secondary-34: #4a4f63;
  --color-secondary-35: #4d5265;
  --color-secondary-36: #4f5468;
  --color-secondary-37: #51566a;
  --color-secondary-38: #54596d;
  --color-secondary-39: #565b6f;
  --color-secondary-40: #595e72;
  --color-secondary-41: #5b6074;
  --color-secondary-42: #5d6277;
  --color-secondary-43: #606579;
  --color-secondary-44: #62677c;
  --color-secondary-45: #656a7e;
  --color-secondary-46: #676c81;
  --color-secondary-47: #6a6f83;
  --color-secondary-48: #6c7186;
  --color-secondary-49: #6f7488;
  --color-secondary-50: #71768b;
  --color-secondary-51: #74798e;
  --color-secondary-52: #767b90;
  --color-secondary-53: #797e93;
  --color-secondary-54: #7c8096;
  --color-secondary-55: #7e8398;
  --color-secondary-56: #81859b;
  --color-secondary-57: #83889d;
  --color-secondary-58: #868ba0;
  --color-secondary-59: #888da3;
  --color-secondary-60: #8b90a5;
  --color-secondary-61: #8e92a8;
  --color-secondary-62: #9095ab;
  --color-secondary-63: #9398ae;
  --color-secondary-64: #969ab0;
  --color-secondary-65: #989db3;
  --color-secondary-66: #9ba0b6;
  --color-secondary-67: #9ea2b8;
  --color-secondary-68: #a0a5bb;
  --color-secondary-69: #a3a8be;
  --color-secondary-70: #a6aac1;
  --color-secondary-71: #a8adc3;
  --color-secondary-72: #abb0c6;
  --color-secondary-73: #aeb2c9;
  --color-secondary-74: #b1b5cc;
  --color-secondary-75: #b3b8cf;
  --color-secondary-76: #b6bad1;
  --color-secondary-77: #b9bdd4;
  --color-secondary-78: #bbc0d7;
  --color-secondary-79: #bec3da;
  --color-secondary-80: #c1c5dd;
  --color-secondary-81: #c4c8df;
  --color-secondary-82: #c7cbe2;
  --color-secondary-83: #c9cee5;
  --color-secondary-84: #ccd1e8;
  --color-secondary-85: #cfd3eb;
  --color-secondary-86: #d2d6ee;
  --color-secondary-87: #d5d9f1;
  --color-secondary-88: #d7dcf3;
  --color-secondary-89: #dadff6;
  --color-secondary-90: #dde1f9;
  --color-secondary-91: #e0e4fc;
  --color-secondary-92: #e3e7ff;
  --color-secondary-93: #e7eaff;
  --color-secondary-94: #ebedff;
  --color-secondary-95: #eff0ff;
  --color-secondary-96: #f2f3ff;
  --color-secondary-97: #f6f5ff;
  --color-secondary-98: #faf8ff;
  --color-secondary-99: #fefbff;
  --color-secondary-100: #ffffff;
  --color-red-0: #000000;
  --color-red-1: #100000;
  --color-red-2: #1a0000;
  --color-red-3: #210001;
  --color-red-4: #280001;
  --color-red-5: #2d0001;
  --color-red-6: #310001;
  --color-red-7: #360001;
  --color-red-8: #390001;
  --color-red-9: #3d0002;
  --color-red-10: #410002;
  --color-red-11: #450002;
  --color-red-12: #490002;
  --color-red-13: #4d0002;
  --color-red-14: #500003;
  --color-red-15: #540003;
  --color-red-16: #580003;
  --color-red-17: #5c0004;
  --color-red-18: #600004;
  --color-red-19: #640004;
  --color-red-20: #690005;
  --color-red-21: #6d0005;
  --color-red-22: #710005;
  --color-red-23: #750006;
  --color-red-24: #790006;
  --color-red-25: #7e0007;
  --color-red-26: #820007;
  --color-red-27: #860008;
  --color-red-28: #8a0008;
  --color-red-29: #8f0009;
  --color-red-30: #93000a;
  --color-red-31: #98000a;
  --color-red-32: #9c000b;
  --color-red-33: #a0000c;
  --color-red-34: #a4020d;
  --color-red-35: #a80710;
  --color-red-36: #ac0c12;
  --color-red-37: #af1014;
  --color-red-38: #b31416;
  --color-red-39: #b61718;
  --color-red-40: #ba1a1a;
  --color-red-41: #bd1e1d;
  --color-red-42: #c1211f;
  --color-red-43: #c52421;
  --color-red-44: #c82623;
  --color-red-45: #cc2925;
  --color-red-46: #cf2c27;
  --color-red-47: #d32f29;
  --color-red-48: #d7322c;
  --color-red-49: #da342e;
  --color-red-50: #de3730;
  --color-red-51: #e13a32;
  --color-red-52: #e53c34;
  --color-red-53: #e93f36;
  --color-red-54: #ec4139;
  --color-red-55: #f0443b;
  --color-red-56: #f3473d;
  --color-red-57: #f7493f;
  --color-red-58: #fb4c42;
  --color-red-59: #fe4e44;
  --color-red-60: #ff5449;
  --color-red-61: #ff5b4f;
  --color-red-62: #ff6154;
  --color-red-63: #ff665a;
  --color-red-64: #ff6c5f;
  --color-red-65: #ff7164;
  --color-red-66: #ff7669;
  --color-red-67: #ff7b6e;
  --color-red-68: #ff8073;
  --color-red-69: #ff8578;
  --color-red-70: #ff897d;
  --color-red-71: #ff8e82;
  --color-red-72: #ff9286;
  --color-red-73: #ff978b;
  --color-red-74: #ff9b90;
  --color-red-75: #ff9f94;
  --color-red-76: #ffa399;
  --color-red-77: #ffa89d;
  --color-red-78: #ffaca2;
  --color-red-79: #ffb0a6;
  --color-red-80: #ffb4ab;
  --color-red-81: #ffb8af;
  --color-red-82: #ffbcb3;
  --color-red-83: #ffbfb8;
  --color-red-84: #ffc3bc;
  --color-red-85: #ffc7c0;
  --color-red-86: #ffcbc5;
  --color-red-87: #ffcfc9;
  --color-red-88: #ffd3cd;
  --color-red-89: #ffd6d1;
  --color-red-90: #ffdad6;
  --color-red-91: #ffdeda;
  --color-red-92: #ffe2de;
  --color-red-93: #ffe5e2;
  --color-red-94: #ffe9e6;
  --color-red-95: #ffedea;
  --color-red-96: #fff0ee;
  --color-red-97: #fff4f2;
  --color-red-98: #fff8f7;
  --color-red-99: #fffbff;
  --color-red-100: #ffffff;
  --color-blue-0: #000000;
  --color-blue-1: #000314;
  --color-blue-2: #00061f;
  --color-blue-3: #000828;
  --color-blue-4: #000b2f;
  --color-blue-5: #000e35;
  --color-blue-6: #00103a;
  --color-blue-7: #00123f;
  --color-blue-8: #001343;
  --color-blue-9: #001547;
  --color-blue-10: #01174a;
  --color-blue-11: #03194c;
  --color-blue-12: #061c4e;
  --color-blue-13: #081e51;
  --color-blue-14: #0b2053;
  --color-blue-15: #0e2255;
  --color-blue-16: #112557;
  --color-blue-17: #132759;
  --color-blue-18: #16295b;
  --color-blue-19: #182b5e;
  --color-blue-20: #1b2d60;
  --color-blue-21: #1d3062;
  --color-blue-22: #203265;
  --color-blue-23: #223467;
  --color-blue-24: #253669;
  --color-blue-25: #27396c;
  --color-blue-26: #293b6e;
  --color-blue-27: #2c3d71;
  --color-blue-28: #2e4073;
  --color-blue-29: #314276;
  --color-blue-30: #334478;
  --color-blue-31: #35477b;
  --color-blue-32: #38497d;
  --color-blue-33: #3a4b80;
  --color-blue-34: #3d4e82;
  --color-blue-35: #3f5085;
  --color-blue-36: #415387;
  --color-blue-37: #44558a;
  --color-blue-38: #46578c;
  --color-blue-39: #495a8f;
  --color-blue-40: #4b5c91;
  --color-blue-41: #4e5f94;
  --color-blue-42: #506197;
  --color-blue-43: #536499;
  --color-blue-44: #55669c;
  --color-blue-45: #57699f;
  --color-blue-46: #5a6ba1;
  --color-blue-47: #5c6da4;
  --color-blue-48: #5f70a7;
  --color-blue-49: #6273a9;
  --color-blue-50: #6475ac;
  --color-blue-51: #6778af;
  --color-blue-52: #697ab1;
  --color-blue-53: #6c7db4;
  --color-blue-54: #6e7fb7;
  --color-blue-55: #7182ba;
  --color-blue-56: #7384bc;
  --color-blue-57: #7687bf;
  --color-blue-58: #798ac2;
  --color-blue-59: #7b8cc5;
  --color-blue-60: #7e8fc8;
  --color-blue-61: #8091ca;
  --color-blue-62: #8394cd;
  --color-blue-63: #8697d0;
  --color-blue-64: #8899d3;
  --color-blue-65: #8b9cd6;
  --color-blue-66: #8d9fd8;
  --color-blue-67: #90a1db;
  --color-blue-68: #93a4de;
  --color-blue-69: #95a7e1;
  --color-blue-70: #98a9e4;
  --color-blue-71: #9bace7;
  --color-blue-72: #9eafea;
  --color-blue-73: #a0b1ec;
  --color-blue-74: #a3b4ef;
  --color-blue-75: #a6b7f2;
  --color-blue-76: #a8baf5;
  --color-blue-77: #abbcf8;
  --color-blue-78: #aebffb;
  --color-blue-79: #b1c2fe;
  --color-blue-80: #b4c5ff;
  --color-blue-81: #b8c7ff;
  --color-blue-82: #bccaff;
  --color-blue-83: #c0cdff;
  --color-blue-84: #c4d0ff;
  --color-blue-85: #c8d3ff;
  --color-blue-86: #ccd6ff;
  --color-blue-87: #cfd9ff;
  --color-blue-88: #d3dcff;
  --color-blue-89: #d7deff;
  --color-blue-90: #dbe1ff;
  --color-blue-91: #dfe4ff;
  --color-blue-92: #e3e7ff;
  --color-blue-93: #e7eaff;
  --color-blue-94: #ebedff;
  --color-blue-95: #eff0ff;
  --color-blue-96: #f2f3ff;
  --color-blue-97: #f6f5ff;
  --color-blue-98: #faf8ff;
  --color-blue-99: #fefbff;
  --color-blue-100: #ffffff;
  --color-yellow-0: #000000;
  --color-yellow-1: #050400;
  --color-yellow-2: #0a0700;
  --color-yellow-3: #0e0b00;
  --color-yellow-4: #120e00;
  --color-yellow-5: #151100;
  --color-yellow-6: #181300;
  --color-yellow-7: #1a1500;
  --color-yellow-8: #1d1700;
  --color-yellow-9: #1f1900;
  --color-yellow-10: #211b00;
  --color-yellow-11: #231d00;
  --color-yellow-12: #261f00;
  --color-yellow-13: #282100;
  --color-yellow-14: #2a2400;
  --color-yellow-15: #2d2600;
  --color-yellow-16: #2f2800;
  --color-yellow-17: #312a00;
  --color-yellow-18: #342c00;
  --color-yellow-19: #362e00;
  --color-yellow-20: #393000;
  --color-yellow-21: #3b3200;
  --color-yellow-22: #3e3500;
  --color-yellow-23: #403700;
  --color-yellow-24: #433900;
  --color-yellow-25: #453b00;
  --color-yellow-26: #483d00;
  --color-yellow-27: #4a4000;
  --color-yellow-28: #4d4200;
  --color-yellow-29: #4f4400;
  --color-yellow-30: #524600;
  --color-yellow-31: #554900;
  --color-yellow-32: #574b00;
  --color-yellow-33: #5a4d00;
  --color-yellow-34: #5d5000;
  --color-yellow-35: #5f5201;
  --color-yellow-36: #625503;
  --color-yellow-37: #645706;
  --color-yellow-38: #675909;
  --color-yellow-39: #695c0c;
  --color-yellow-40: #6c5e0f;
  --color-yellow-41: #6e6112;
  --color-yellow-42: #716315;
  --color-yellow-43: #746617;
  --color-yellow-44: #76681a;
  --color-yellow-45: #796a1c;
  --color-yellow-46: #7b6d1f;
  --color-yellow-47: #7e6f21;
  --color-yellow-48: #817223;
  --color-yellow-49: #837426;
  --color-yellow-50: #867728;
  --color-yellow-51: #897a2a;
  --color-yellow-52: #8b7c2d;
  --color-yellow-53: #8e7f2f;
  --color-yellow-54: #918131;
  --color-yellow-55: #938434;
  --color-yellow-56: #968636;
  --color-yellow-57: #998938;
  --color-yellow-58: #9c8c3b;
  --color-yellow-59: #9e8e3d;
  --color-yellow-60: #a1913f;
  --color-yellow-61: #a49342;
  --color-yellow-62: #a69644;
  --color-yellow-63: #a99946;
  --color-yellow-64: #ac9b49;
  --color-yellow-65: #af9e4b;
  --color-yellow-66: #b2a14d;
  --color-yellow-67: #b4a350;
  --color-yellow-68: #b7a652;
  --color-yellow-69: #baa954;
  --color-yellow-70: #bdab57;
  --color-yellow-71: #c0ae59;
  --color-yellow-72: #c2b15c;
  --color-yellow-73: #c5b45e;
  --color-yellow-74: #c8b660;
  --color-yellow-75: #cbb963;
  --color-yellow-76: #cebc65;
  --color-yellow-77: #d1be68;
  --color-yellow-78: #d3c16a;
  --color-yellow-79: #d6c46c;
  --color-yellow-80: #d9c76f;
  --color-yellow-81: #dcca71;
  --color-yellow-82: #dfcc74;
  --color-yellow-83: #e2cf76;
  --color-yellow-84: #e5d279;
  --color-yellow-85: #e8d57b;
  --color-yellow-86: #ebd87e;
  --color-yellow-87: #eeda80;
  --color-yellow-88: #f1dd83;
  --color-yellow-89: #f3e085;
  --color-yellow-90: #f6e388;
  --color-yellow-91: #f9e68a;
  --color-yellow-92: #fce98d;
  --color-yellow-93: #ffeb91;
  --color-yellow-94: #ffeea5;
  --color-yellow-95: #fff1b8;
  --color-yellow-96: #fff4ca;
  --color-yellow-97: #fff6db;
  --color-yellow-98: #fff9ec;
  --color-yellow-99: #fffbff;
  --color-yellow-100: #ffffff;
  --color-green-0: #000000;
  --color-green-1: #000501;
  --color-green-2: #000a02;
  --color-green-3: #000e03;
  --color-green-4: #001204;
  --color-green-5: #001505;
  --color-green-6: #001805;
  --color-green-7: #001a06;
  --color-green-8: #001d07;
  --color-green-9: #001f08;
  --color-green-10: #002109;
  --color-green-11: #00240a;
  --color-green-12: #00260c;
  --color-green-13: #00280d;
  --color-green-14: #002b0e;
  --color-green-15: #002d0f;
  --color-green-16: #002f10;
  --color-green-17: #003211;
  --color-green-18: #003413;
  --color-green-19: #003714;
  --color-green-20: #003915;
  --color-green-21: #013c16;
  --color-green-22: #043e18;
  --color-green-23: #07401b;
  --color-green-24: #0a421d;
  --color-green-25: #0d451f;
  --color-green-26: #114721;
  --color-green-27: #144a23;
  --color-green-28: #164c25;
  --color-green-29: #194e27;
  --color-green-30: #1c5129;
  --color-green-31: #1e532b;
  --color-green-32: #21552d;
  --color-green-33: #23582f;
  --color-green-34: #265a32;
  --color-green-35: #295d34;
  --color-green-36: #2b5f36;
  --color-green-37: #2e6238;
  --color-green-38: #30643a;
  --color-green-39: #32673d;
  --color-green-40: #35693f;
  --color-green-41: #376c41;
  --color-green-42: #3a6e43;
  --color-green-43: #3c7146;
  --color-green-44: #3f7348;
  --color-green-45: #41764a;
  --color-green-46: #44784c;
  --color-green-47: #467b4f;
  --color-green-48: #497e51;
  --color-green-49: #4b8053;
  --color-green-50: #4e8356;
  --color-green-51: #508558;
  --color-green-52: #53885a;
  --color-green-53: #558a5d;
  --color-green-54: #588d5f;
  --color-green-55: #5a9062;
  --color-green-56: #5d9264;
  --color-green-57: #5f9566;
  --color-green-58: #629869;
  --color-green-59: #649a6b;
  --color-green-60: #679d6e;
  --color-green-61: #69a070;
  --color-green-62: #6ca273;
  --color-green-63: #6fa575;
  --color-green-64: #71a877;
  --color-green-65: #74ab7a;
  --color-green-66: #76ad7c;
  --color-green-67: #79b07f;
  --color-green-68: #7cb381;
  --color-green-69: #7eb584;
  --color-green-70: #81b887;
  --color-green-71: #83bb89;
  --color-green-72: #86be8c;
  --color-green-73: #89c08e;
  --color-green-74: #8bc391;
  --color-green-75: #8ec693;
  --color-green-76: #91c996;
  --color-green-77: #93cc98;
  --color-green-78: #96ce9b;
  --color-green-79: #99d19e;
  --color-green-80: #9bd4a0;
  --color-green-81: #9ed7a3;
  --color-green-82: #a1daa5;
  --color-green-83: #a3dda8;
  --color-green-84: #a6dfab;
  --color-green-85: #a9e2ad;
  --color-green-86: #ace5b0;
  --color-green-87: #aee8b3;
  --color-green-88: #b1ebb5;
  --color-green-89: #b4eeb8;
  --color-green-90: #b7f1bb;
  --color-green-91: #b9f4bd;
  --color-green-92: #bcf6c0;
  --color-green-93: #bff9c3;
  --color-green-94: #c2fcc6;
  --color-green-95: #c5ffc9;
  --color-green-96: #d2ffd3;
  --color-green-97: #dfffde;
  --color-green-98: #ebffe8;
  --color-green-99: #f6fff2;
  --color-green-100: #ffffff;
  --spacing-base: 0.25rem;
  --spacing-0: 0rem;
  --spacing-0e: 0.03125rem;
  --spacing-0\.125: 0.03125rem;
  --spacing-0q: 0.0625rem;
  --spacing-0\.25: 0.0625rem;
  --spacing-0qe: 0.09375rem;
  --spacing-0\.375: 0.09375rem;
  --spacing-0h: 0.125rem;
  --spacing-0\.5: 0.125rem;
  --spacing-0he: 0.15625rem;
  --spacing-0\.625: 0.15625rem;
  --spacing-0hq: 0.1875rem;
  --spacing-0\.75: 0.1875rem;
  --spacing-0hqe: 0.21875rem;
  --spacing-0\.875: 0.21875rem;
  --spacing-1: 0.25rem;
  --spacing-1h: 0.375rem;
  --spacing-1\.5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2h: 0.625rem;
  --spacing-2\.5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3h: 0.875rem;
  --spacing-3\.5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-4h: 1.125rem;
  --spacing-4\.5: 1.125rem;
  --spacing-5: 1.25rem;
  --spacing-5h: 1.375rem;
  --spacing-5\.5: 1.375rem;
  --spacing-6: 1.5rem;
  --spacing-6h: 1.625rem;
  --spacing-6\.5: 1.625rem;
  --spacing-7: 1.75rem;
  --spacing-7h: 1.875rem;
  --spacing-7\.5: 1.875rem;
  --spacing-8: 2rem;
  --spacing-8h: 2.125rem;
  --spacing-8\.5: 2.125rem;
  --spacing-9: 2.25rem;
  --spacing-9h: 2.375rem;
  --spacing-9\.5: 2.375rem;
  --spacing-10: 2.5rem;
  --spacing-10h: 2.625rem;
  --spacing-10\.5: 2.625rem;
  --spacing-11: 2.75rem;
  --spacing-11h: 2.875rem;
  --spacing-11\.5: 2.875rem;
  --spacing-12: 3rem;
  --spacing-12h: 3.125rem;
  --spacing-12\.5: 3.125rem;
  --spacing-13: 3.25rem;
  --spacing-13h: 3.375rem;
  --spacing-13\.5: 3.375rem;
  --spacing-14: 3.5rem;
  --spacing-14h: 3.625rem;
  --spacing-14\.5: 3.625rem;
  --spacing-15: 3.75rem;
  --spacing-15h: 3.875rem;
  --spacing-15\.5: 3.875rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* #endregion core theme */
/* #region dark theme */
@theme {
  --color-primary: var(--color-primary-80, #b4c5ff);
  --color-on-primary: var(--color-primary-20, #002a78);
  --color-primary-container: var(--color-primary-30, #244290);
  --color-on-primary-container: var(--color-primary-90, #dbe1ff);
  --color-secondary: var(--color-secondary-80, #c1c5dd);
  --color-on-secondary: var(--color-secondary-20, #2b3042);
  --color-secondary-container: var(--color-secondary-30, #414659);
  --color-on-secondary-container: var(--color-secondary-90, #dde1f9);
  --color-info: var(--color-blue-80, #b4c5ff);
  --color-on-info: var(--color-blue-20, #1b2d60);
  --color-info-container: var(--color-blue-30, #334478);
  --color-on-info-container: var(--color-blue-90, #dbe1ff);
  --color-success: var(--color-green-80, #9bd4a0);
  --color-on-success: var(--color-green-20, #003915);
  --color-success-container: var(--color-green-30, #1c5129);
  --color-on-success-container: var(--color-green-90, #b7f1bb);
  --color-caution: var(--color-yellow-80, #d9c76f);
  --color-on-caution: var(--color-yellow-20, #393000);
  --color-caution-container: var(--color-yellow-30, #524600);
  --color-on-caution-container: var(--color-yellow-90, #f6e388);
  --color-critical: var(--color-red-80, #ffb4ab);
  --color-on-critical: var(--color-red-20, #690005);
  --color-critical-container: var(--color-red-30, #93000a);
  --color-on-critical-container: var(--color-red-90, #ffdad6);
  --color-surface-dim: var(--color-neutral-6, #131316);
  --color-surface: var(--color-neutral-6, #131316);
  --color-surface-bright: var(--color-neutral-24, #39393c);
  --color-surface-container-lowest: var(--color-neutral-4, #0d0e11);
  --color-surface-container-low: var(--color-neutral-10, #1b1b1f);
  --color-surface-container: var(--color-neutral-12, #1f1f23);
  --color-surface-container-high: var(--color-neutral-17, #292a2d);
  --color-surface-container-highest: var(--color-neutral-22, #343438);
  --color-on-surface: var(--color-neutral-90, #e4e2e6);
  --color-on-surface-variant: var(--color-neutral-variant-80, #c5c6d0);
  --color-outline: var(--color-neutral-variant-60, #8f909a);
  --color-outline-variant: var(--color-neutral-variant-30, #45464f);
  --color-inverse-surface: var(--color-neutral-80, #c7c6ca);
  --color-inverse-on-surface: var(--color-neutral-5, #101114);
  --color-inverse-primary: var(--color-primary-80, #b4c5ff);
  --color-inverse-on-primary: var(--color-primary-5, #000e35);
  --color-scrim: var(--color-primary-0, #000000);
}

.dark, [data-theme="dark"] {
  --color-primary: var(--color-primary-80, #b4c5ff);
  --color-on-primary: var(--color-primary-20, #002a78);
  --color-primary-container: var(--color-primary-30, #244290);
  --color-on-primary-container: var(--color-primary-90, #dbe1ff);
  --color-secondary: var(--color-secondary-80, #c1c5dd);
  --color-on-secondary: var(--color-secondary-20, #2b3042);
  --color-secondary-container: var(--color-secondary-30, #414659);
  --color-on-secondary-container: var(--color-secondary-90, #dde1f9);
  --color-info: var(--color-blue-80, #b4c5ff);
  --color-on-info: var(--color-blue-20, #1b2d60);
  --color-info-container: var(--color-blue-30, #334478);
  --color-on-info-container: var(--color-blue-90, #dbe1ff);
  --color-success: var(--color-green-80, #9bd4a0);
  --color-on-success: var(--color-green-20, #003915);
  --color-success-container: var(--color-green-30, #1c5129);
  --color-on-success-container: var(--color-green-90, #b7f1bb);
  --color-caution: var(--color-yellow-80, #d9c76f);
  --color-on-caution: var(--color-yellow-20, #393000);
  --color-caution-container: var(--color-yellow-30, #524600);
  --color-on-caution-container: var(--color-yellow-90, #f6e388);
  --color-critical: var(--color-red-80, #ffb4ab);
  --color-on-critical: var(--color-red-20, #690005);
  --color-critical-container: var(--color-red-30, #93000a);
  --color-on-critical-container: var(--color-red-90, #ffdad6);
  --color-surface-dim: var(--color-neutral-6, #131316);
  --color-surface: var(--color-neutral-6, #131316);
  --color-surface-bright: var(--color-neutral-24, #39393c);
  --color-surface-container-lowest: var(--color-neutral-4, #0d0e11);
  --color-surface-container-low: var(--color-neutral-10, #1b1b1f);
  --color-surface-container: var(--color-neutral-12, #1f1f23);
  --color-surface-container-high: var(--color-neutral-17, #292a2d);
  --color-surface-container-highest: var(--color-neutral-22, #343438);
  --color-on-surface: var(--color-neutral-90, #e4e2e6);
  --color-on-surface-variant: var(--color-neutral-variant-80, #c5c6d0);
  --color-outline: var(--color-neutral-variant-60, #8f909a);
  --color-outline-variant: var(--color-neutral-variant-30, #45464f);
  --color-inverse-surface: var(--color-neutral-80, #c7c6ca);
  --color-inverse-on-surface: var(--color-neutral-5, #101114);
  --color-inverse-primary: var(--color-primary-80, #b4c5ff);
  --color-inverse-on-primary: var(--color-primary-5, #000e35);
  --color-scrim: var(--color-primary-0, #000000);
}
/* #endregion dark theme */
/* #region light theme */
@theme {
  --color-primary: var(--color-primary-40, #3f5aa9);
  --color-on-primary: var(--color-primary-100, #ffffff);
  --color-primary-container: var(--color-primary-90, #dbe1ff);
  --color-on-primary-container: var(--color-primary-10, #00174b);
  --color-secondary: var(--color-secondary-40, #595e72);
  --color-on-secondary: var(--color-secondary-100, #ffffff);
  --color-secondary-container: var(--color-secondary-90, #dde1f9);
  --color-on-secondary-container: var(--color-secondary-10, #161b2c);
  --color-info: var(--color-blue-40, #4b5c91);
  --color-on-info: var(--color-blue-100, #ffffff);
  --color-info-container: var(--color-blue-90, #dbe1ff);
  --color-on-info-container: var(--color-blue-10, #01174a);
  --color-success: var(--color-green-40, #35693f);
  --color-on-success: var(--color-green-100, #ffffff);
  --color-success-container: var(--color-green-90, #b7f1bb);
  --color-on-success-container: var(--color-green-10, #002109);
  --color-caution: var(--color-yellow-40, #6c5e0f);
  --color-on-caution: var(--color-yellow-100, #ffffff);
  --color-caution-container: var(--color-yellow-90, #f6e388);
  --color-on-caution-container: var(--color-yellow-10, #211b00);
  --color-critical: var(--color-red-40, #ba1a1a);
  --color-on-critical: var(--color-red-100, #ffffff);
  --color-critical-container: var(--color-red-90, #ffdad6);
  --color-on-critical-container: var(--color-red-10, #410002);
  --color-surface-dim: var(--color-neutral-87, #dbd9dd);
  --color-surface: var(--color-neutral-98, #fbf8fd);
  --color-surface-bright: var(--color-neutral-98, #fbf8fd);
  --color-surface-container-lowest: var(--color-neutral-100, #ffffff);
  --color-surface-container-low: var(--color-neutral-96, #f5f3f7);
  --color-surface-container: var(--color-neutral-94, #efedf1);
  --color-surface-container-high: var(--color-neutral-92, #e9e7ec);
  --color-surface-container-highest: var(--color-neutral-90, #e4e2e6);
  --color-on-surface: var(--color-neutral-10, #1b1b1f);
  --color-on-surface-variant: var(--color-neutral-variant-30, #45464f);
  --color-outline: var(--color-neutral-variant-50, #757680);
  --color-outline-variant: var(--color-neutral-variant-80, #c5c6d0);
  --color-inverse-surface: var(--color-neutral-20, #303034);
  --color-inverse-on-surface: var(--color-neutral-95, #f2f0f4);
  --color-inverse-primary: var(--color-primary-20, #002a78);
  --color-inverse-on-primary: var(--color-primary-95, #eff0ff);
  --color-scrim: var(--color-primary-0, #000000);
}

:root, .light, [data-theme="light"] {
  --color-primary: var(--color-primary-40, #3f5aa9);
  --color-on-primary: var(--color-primary-100, #ffffff);
  --color-primary-container: var(--color-primary-90, #dbe1ff);
  --color-on-primary-container: var(--color-primary-10, #00174b);
  --color-secondary: var(--color-secondary-40, #595e72);
  --color-on-secondary: var(--color-secondary-100, #ffffff);
  --color-secondary-container: var(--color-secondary-90, #dde1f9);
  --color-on-secondary-container: var(--color-secondary-10, #161b2c);
  --color-info: var(--color-blue-40, #4b5c91);
  --color-on-info: var(--color-blue-100, #ffffff);
  --color-info-container: var(--color-blue-90, #dbe1ff);
  --color-on-info-container: var(--color-blue-10, #01174a);
  --color-success: var(--color-green-40, #35693f);
  --color-on-success: var(--color-green-100, #ffffff);
  --color-success-container: var(--color-green-90, #b7f1bb);
  --color-on-success-container: var(--color-green-10, #002109);
  --color-caution: var(--color-yellow-40, #6c5e0f);
  --color-on-caution: var(--color-yellow-100, #ffffff);
  --color-caution-container: var(--color-yellow-90, #f6e388);
  --color-on-caution-container: var(--color-yellow-10, #211b00);
  --color-critical: var(--color-red-40, #ba1a1a);
  --color-on-critical: var(--color-red-100, #ffffff);
  --color-critical-container: var(--color-red-90, #ffdad6);
  --color-on-critical-container: var(--color-red-10, #410002);
  --color-surface-dim: var(--color-neutral-87, #dbd9dd);
  --color-surface: var(--color-neutral-98, #fbf8fd);
  --color-surface-bright: var(--color-neutral-98, #fbf8fd);
  --color-surface-container-lowest: var(--color-neutral-100, #ffffff);
  --color-surface-container-low: var(--color-neutral-96, #f5f3f7);
  --color-surface-container: var(--color-neutral-94, #efedf1);
  --color-surface-container-high: var(--color-neutral-92, #e9e7ec);
  --color-surface-container-highest: var(--color-neutral-90, #e4e2e6);
  --color-on-surface: var(--color-neutral-10, #1b1b1f);
  --color-on-surface-variant: var(--color-neutral-variant-30, #45464f);
  --color-outline: var(--color-neutral-variant-50, #757680);
  --color-outline-variant: var(--color-neutral-variant-80, #c5c6d0);
  --color-inverse-surface: var(--color-neutral-20, #303034);
  --color-inverse-on-surface: var(--color-neutral-95, #f2f0f4);
  --color-inverse-primary: var(--color-primary-20, #002a78);
  --color-inverse-on-primary: var(--color-primary-95, #eff0ff);
  --color-scrim: var(--color-primary-0, #000000);
}
/* #endregion light theme */
/* #region semantic theme */
@theme {
  --radius-base: 1rem;
  --radius-3xs: 0.25rem;
  --radius-2xs: 0.5rem;
  --radius-xs: 0.75rem;
  --radius-sm: 0.875rem;
  --radius-md: 1.125rem;
  --radius-lg: 1.25rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 1.75rem;
  --radius-3xl: 2.25rem;
  --spacing-3xs: 0.125rem;
  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.5rem;
  --spacing-3xl: 3rem;
  --spacing-4xl: 4rem;
  --spacing-5xl: 5rem;
  --spacing-6xl: 6rem;
  --text-base: 1rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}
/* #endregion semantic theme */
/* #region typography theme */
@theme {
  --leading-display-large: 4rem;
  --leading-display-medium: 3.25rem;
  --leading-display-small: 2.75rem;
  --leading-headline-large: 2.5rem;
  --leading-headline-medium: 2.25rem;
  --leading-headline-small: 2rem;
  --leading-title-large: 1.75rem;
  --leading-title-medium: 1.5rem;
  --leading-title-small: 1.25rem;
  --leading-body-large: 1.5rem;
  --leading-body-medium: 1.25rem;
  --leading-body-small: 1rem;
  --leading-label-large: 1.25rem;
  --leading-label-medium: 1rem;
  --leading-label-small: 1rem;
  --text-display-large: 3.5625rem;
  --text-display-medium: 2.8125rem;
  --text-display-small: 2.25rem;
  --text-headline-large: 2rem;
  --text-headline-medium: 1.75rem;
  --text-headline-small: 1.5rem;
  --text-title-large: 1.375rem;
  --text-title-medium: 1rem;
  --text-title-small: 0.875rem;
  --text-body-large: 1rem;
  --text-body-medium: 0.875rem;
  --text-body-small: 0.75rem;
  --text-label-large: 0.875rem;
  --text-label-medium: 0.75rem;
  --text-label-small: 0.6875rem;
  --tracking-display-large: -0.021rem;
  --tracking-display-medium: 0rem;
  --tracking-display-small: 0rem;
  --tracking-headline-large: 0rem;
  --tracking-headline-medium: 0rem;
  --tracking-headline-small: 0rem;
  --tracking-title-large: 0rem;
  --tracking-title-medium: 0.013rem;
  --tracking-title-small: 0.008rem;
  --tracking-body-large: 0.042rem;
  --tracking-body-medium: 0.021rem;
  --tracking-body-small: 0.033rem;
  --tracking-label-large: 0.008rem;
  --tracking-label-medium: 0.042rem;
  --tracking-label-small: 0.042rem;
}

@utility typography-display-large {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-display-large);
  font-size: var(--text-display-large);
  letter-spacing: var(--tracking-display-large);
}
@utility typography-display-medium {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-display-medium);
  font-size: var(--text-display-medium);
  letter-spacing: var(--tracking-display-medium);
}
@utility typography-display-small {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-display-small);
  font-size: var(--text-display-small);
  letter-spacing: var(--tracking-display-small);
}
@utility typography-headline-large {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-headline-large);
  font-size: var(--text-headline-large);
  letter-spacing: var(--tracking-headline-large);
}
@utility typography-headline-medium {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-headline-medium);
  font-size: var(--text-headline-medium);
  letter-spacing: var(--tracking-headline-medium);
}
@utility typography-headline-small {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-headline-small);
  font-size: var(--text-headline-small);
  letter-spacing: var(--tracking-headline-small);
}
@utility typography-title-large {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-title-large);
  font-size: var(--text-title-large);
  letter-spacing: var(--tracking-title-large);
}
@utility typography-title-medium {
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: var(--leading-title-medium);
  font-size: var(--text-title-medium);
  letter-spacing: var(--tracking-title-medium);
}
@utility typography-title-small {
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: var(--leading-title-small);
  font-size: var(--text-title-small);
  letter-spacing: var(--tracking-title-small);
}
@utility typography-body-large {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-body-large);
  font-size: var(--text-body-large);
  letter-spacing: var(--tracking-body-large);
}
@utility typography-body-medium {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-body-medium);
  font-size: var(--text-body-medium);
  letter-spacing: var(--tracking-body-medium);
}
@utility typography-body-small {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-body-small);
  font-size: var(--text-body-small);
  letter-spacing: var(--tracking-body-small);
}
@utility typography-label-large {
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: var(--leading-label-large);
  font-size: var(--text-label-large);
  letter-spacing: var(--tracking-label-large);
}
@utility typography-label-medium {
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: var(--leading-label-medium);
  font-size: var(--text-label-medium);
  letter-spacing: var(--tracking-label-medium);
}
@utility typography-label-small {
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: var(--leading-label-small);
  font-size: var(--text-label-small);
  letter-spacing: var(--tracking-label-small);
}
/* #endregion typography theme */
